.app-toast {

    position: absolute;
    z-index: 99999;

    &__top-right {
        top: 85px;
        right: 10px;
    }
    
    &__top-left {
        top: 85px;
        left: 10px;
    }
    
    &__bottom-right {
        bottom: 10px;
        right: 10px;
    }
    
    &__bottom-left {
        bottom: 10px;
        left: 10px;
    }

    &__container {
        color: #FFF;
        font-weight: 500;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 1px solid #c8c8c8;
        
        &--block {
            width: calc(100vw - 20px);
        }

        &--content {
            padding: 5px;
            font-size: 18px;
            cursor: pointer;
            min-width: 300px;
            max-width: 400px;
        }
    }
}