.app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &__header {
        width: 100vw;
        height: 80px;
        background-color: #082f5e;
        display: flex;

        &--logo {
            margin-left: 10px;
            margin-top: 10px;
            width: 60px;
            height: 60px;
        }

        &--title {
            width: 100%;
            padding-left: 20px;
            padding-top: 20px;
            color: #FFF;
            font-weight: 500;
            font-size: 24px;
        }

        &--logout {
            width: 100%; 
            display: flex; 
            justify-content: end; 
            align-items: center;

            &__icon {
                color: #FFF; 
                cursor: pointer; 
                font-size: 24px;
                padding-right: 25px;
            }
        }
    }

    &__body {
        background-color: lightgray;
    }
}